body {
	font-family: Arial, Helvetica, sans-serif;
	background-color:white;
}

iframe {
	border-style: none;
}

a:link {
	font-weight: normal;
	font-style: none;
	text-decoration: none;
	color: black;
}

a:active { 
	font-weight: normal;
	font-style: none;
	text-decoration: none;
	color: black;
}

a:visited { 
	font-weight: normal;
	font-style: none;
	text-decoration: none;
	color: black;
}

a:hover {
	font-weight: normal;
	font-style: none;
	text-decoration: none;
	background-color:grey;
	color:white;
}

td {
    padding: 0;
}

ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

h1 {
	font-size: 18pt;
	font-weight: bold;
}

h2 {
	font-size: 15pt;
	font-weight: bold;
}

h3 {
	font-size: 12pt;
	font-weight: bold;
}

h4 {
	font-size: 11pt;
	font-weight: bold;
}

div {
	font-size: 10pt;
    margin: 0;
    padding: 0;
}

pre {
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 5pt;
	padding-right: 5pt;
	white-space:pre-wrap;
}

.model {
	background-color: lightpink;
}

.template {
	background-color: lightblue;
}

.result {
	background-color: lightyellow;
}

.code {
	font-family: courier new;
	font-size: 12px;
	white-space:pre;
	overflow:auto;
}

.header0 {
	padding-top: 5pt;
	font-weight: bold;
	color: white;
	background-color: darkslategray;
	white-space: nowrap;
}

.header1 {
	padding-top: 15pt;
	font-size: 18pt;
	font-weight: bold;
}

.header2 {
	padding-top: 12pt;
	font-size: 15pt;
	font-weight: bold;
}

.header3 {
	padding-top: 10pt;
	font-size: 12pt;
	font-weight: bold;
}

.indent1 {
	padding-top: 5pt;
	padding-bottom: 1pt;
	padding-left: 15pt;
	padding-right: 15pt;
	font-size: 12pt;
	display:block;
	white-space:nowrap;
}

.indent2 {
	padding-top: 1pt;
	padding-bottom: 1pt;
	padding-left: 30pt;
	padding-right: 15pt;
	display:block;
	white-space:nowrap;
}

.indent3 {
	padding-top: 1pt;
	padding-bottom: 1pt;
	padding-left: 45pt;
	padding-right: 15pt;
	display:block;
	white-space:nowrap;
}






